NEXT_PUBLIC_APPWRITE_ENDPOINT=your appwrite endpoint
NEXT_PUBLIC_APPWRITE_PROJECT_ID= your appwrite project id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your appwrite project id
APPWRITE_API_KEY=your appwrite project id
APPWRITE_QUIZ_API_KEY=your appwrite project id